venv/

config.json

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# do not need template/static folders, can populate with 'npm run build' in vueapp folder
templates/*
static/*
