// Variable overrides
// fusv-disable
$primary-base:  #ff4500 !default;
$primary-dark:  shift-color($primary-base, 70) !default;
$primary-50:    shift-color($primary-base, -70) !default;
$primary-25:    shift-color($primary-base, -80) !default;

$secondary-base:  #cee3f8 !default;
$secondary-dark:  shift-color($secondary-base, 70) !default;
$secondary-50:    shift-color($secondary-base, -70) !default;
$secondary-25:    shift-color($secondary-base, -80) !default;

// $success-dark:  #1b9e3e !default;
// $success-base:  #2eb85c !default;
// $success-50:    #96dbad !default;
// $success-25:    #cbedd6 !default;

// $info-dark:  #2982cc !default;
// $info-base:  #39f !default;
// $info-50:    #80c6ff !default;
// $info-25:    #c0e6ff !default;

// $warning-dark:  #f6960b !default;
// $warning-base:  #f9b115 !default;
// $warning-50:    #fcd88a !default;
// $warning-25:    #feecc5 !default;

// $danger-dark:  #d93737 !default;
// $danger-base:  #e55353 !default;
// $danger-50:    #f2a9a9 !default;
// $danger-25:    #f9d4d4 !default;

// $light-dark:     $gray-100 !default;
// $light-base:     $gray-100 !default;
// $light-50:       shift-color($light-base, -70) !default;
// $light-25:       shift-color($light-base, -80) !default;

// $dark-dark:      $gray-900 !default;
// $dark-base:      $gray-900 !default;
// $dark-50:        shift-color($dark-base, -70) !default;
// $dark-25:        shift-color($dark-base, -80) !default;
// fusv-enable

// scss-docs-start theme-color-variables
$primary:       $primary-base !default;
$secondary:     $secondary-base !default;
// $success:       $success-base !default;
// $info:          $info-base !default;
// $warning:       $warning-base !default;
// $danger:        $danger-base !default;
// $light:         $light-base !default;
// $dark:          $dark-base !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// ) !default;
// scss-docs-end theme-colors-map
