// Variable overrides
$primary-base:  #ff4500 !default;
$primary-dark:  shift-color($primary-base, 70) !default;
$primary-50:    shift-color($primary-base, -70) !default;
$primary-25:    shift-color($primary-base, -80) !default;

$secondary-base:  #cee3f8 !default;
$secondary-dark:  shift-color($secondary-base, 70) !default;
$secondary-50:    shift-color($secondary-base, -70) !default;
$secondary-25:    shift-color($secondary-base, -80) !default;

$primary:       $primary-base !default;
$secondary:     $secondary-base !default;